.header {
  background-color: #1212c6;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.logo p {
  margin: 5px 0;
  font-size: 20px;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul {
  display: flex;
  list-style: none;
  position: relative;
  top: 26px;
}

.nav li {
  margin-right: 20px;
  padding: 15px;
}

.nav li :hover {
  text-decoration: underline;
  color: white;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.user {
  display: flex;
  align-items: center;
}

.user p {
  margin: 0;
}

button {
  padding: 10px;
  border: none;
  margin-right: 10px;
  background-color: rgb(66, 135, 232);
  color: white;
}
